<nav class="navbar navbar-inverse navbar-bottom" style=" background: transparent;border: none; ">
    <div class="container">
        <img style="width:100%;padding-left:3.5%" src="@Url.Content("~/Content/Images/adminortakguc.gif")">
    </div>
</nav>
