<nav class="navbar navbar-inverse navbar-fixed-bottom" style=" background: transparent;border: none; ">
    <div class="container">
        <img style="width:100%;padding:2%" src="@Url.Content("~/Content/Images/adminortakguc.gif")">
    </div>
</nav>
