<nav class="navbar navbar-default">
    <div class="container adminNavBar">
        
            <div class="col-xs-2" style="padding-top:1%">
                <a href="/admin"><img  src="@Url.Content("~/Content/Images/afadlogo1.png")" /></a>
            </div>
            <div class="col-xs-8" style="text-align:center">
                <span class="glyphicon glyphicon-user"   aria-hidden="true" style="display:block;font-size:52px;"></span>
                
                    <h5 class="navBarName">@Html.Raw(ViewBag.userName)</h5>
                <form action="/logout" method="post" style="display:inline-block">
                    <button id="logOutBtn" type="submit" class="adminHeaderBtn"><span class="glyphicon glyphicon-off" aria-hidden="true" style="display:block;font-size:14px;"></span></button>
                    @if (ViewBag.homeIcon)
                    {
                        <a href="/admin" class="adminHeaderBtn"><span class="glyphicon glyphicon-home" aria-hidden="true" style="display:block;font-size:14px;"></span></a>
                    }
                </form>

                </div>
            
        <div class="col-xs-2" style="padding-top:1%">
            <a href="/admin"><img class="pull-right" src="@Url.Content("~/Content/Images/afadlogo1.png")" /></a>
        </div>
           
      
    </div><!-- /.container-fluid -->
</nav>

