 <!----start-team----->
<div class="team" id="team">
    <div class="team-members">
        <div class="wrap">
            <div class="tm-head">
                <h3><span>Çalışma Arkadaşlarımız</span></h3>
                <p>Hayat Kurtaran İnsanlar.</p>
            </div>
            <div class="tm-head-grids">
                <div class="tm-head-grid">
                    <img src="@Url.Content("~/Content/Images/team-member1.png")" alt="" />
                    <h4>Meral Korkmaz</h4>
                    <h5>Genel Müdür</h5>
                    <h5>(212) 123 45 69 - 9</h5>
                    <ul class="top-social-icons">
                        <li> <a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
                        <li> <a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
                        <li> <a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a> </li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="tm-head-grid">
                    <img src="@Url.Content("~/Content/Images/team-member2.jpg")" alt="" />
                    <h4>Ahmet Durmuş</h4>
                    <h5>Acil Kurtarma Bölümü Yöneticisi</h5>
                    <h5>(212) 123 45 69 - 9</h5>
                    <ul class="top-social-icons">
                        <li> <a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
                        <li> <a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
                        <li> <a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="tm-head-grid">
                    <img src="@Url.Content("~/Content/Images/team-member3.jpg")" alt="" />
                    <h4>Utku Alev</h4>
                    <h5>Yönetici</h5>
                    <h5>(212) 123 45 69 - 9</h5>
                    <ul class="top-social-icons">
                        <li> <a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
                        <li> <a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
                        <li> <a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            
        </div>
    </div>
</div>
<!----//End-team----->
