  <!----start-contact---->
<div class="contact" id="contact">
    <div class="wrap">
        <div class="contact-left">
            <h3 style="font-size:1.8em;text-align:center">T.C. Başbakanlık Afet ve Acil Durum Yönetimi Başkanlığı</h3>
            <p class="style" style="text-align: center; color: black; font-weight: 800;">İştek ve Şikayetlerinizi Bize Bildiriniz</p>
            <ul class="soc_icons">
                <li><a href="#"><i class="icon_1"></i><span>(416) 32402390 </span> </a></li>
                <li><a href="#"><i class="icon_2"></i><span>twitter </span> </a></li>
                <li><a href="#"><i class="icon_3"></i><span>Plus.com</span> </a></li>
            </ul>
            <ul class="soc_icons">
                <li><a href="#"><i class="icon_4"></i><span>hello.com</span> </a></li>
                <li><a href="#"><i class="icon_5"></i><span>Facebook </span> </a></li>
                <li><a href="#"><i class="icon_6"></i><span>Pinterest.com</span> </a></li>
            </ul>
            <div class="clear"> </div>
        </div>
        <div class="contact-right">
            <div class="form">
                <form method="post" action="#">
                    <input type="text" class="textbox" value="Adınız*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Adınız* ';}">
                    <input type="text" class="textbox" value="Email Adresiniz*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Adresiniz*';}">
                    <div class="clear"> </div>
                    <div>
                        <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesajınız* ';}">Mesajınız*</textarea>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Gönder" />
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
