body{
    background-color: rgba(116, 138, 221, 0.4);
}
.navbar-default{
    background-color:transparent;
    border:none;
}
.adminNavBar{
      box-shadow: 0 0 15px 1px rgba(59, 69, 107, 0.4);
  margin-top: 2%;
  padding: 1%;
  background-color: white;
}
.navBarName{
    font-weight: 900; 
    font-size: 14px; 
    margin-bottom: 0;
}
.adminHeaderBtn{
  background-color: transparent;
  border: none;
  padding: 5px;
  outline: none;
  float:left;
  color:black;
  text-decoration: none;
}
.adminHeaderBtn:hover{
    color:rgba(59, 69, 107, 0.4);
    outline:0;
    text-decoration: none;
}
.adminHeaderBtn:focus{
    outline:none;
    text-decoration: none;
}
.listItemContainer{
    list-style:none;
}
.listItemConinerItem{
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgba(59, 69, 107, 0.4);
  background-color: rgba(249, 249, 249, 0.37);
  cursor:pointer;
}
.listIteTextContainer {
      padding: 1%;
  padding-right: 3%;
}
.listIteTextHeader{
      margin: 0;
  font-size: 30px;
  font-family: fantasy;
}
.listIteTextHeader > span {
      float: right;
  font-size: 20px;
  color: rgb(126, 32, 32);
}
.listIteTextFooter{
      display: inline-block;
  width: 100%;
  line-height: 30px;

}
.listItemTextFooterAdress{
      text-align: left;
  font-family: cursive;
  font-size: 22px;
  color: darkcyan;
  line-height: 33px;
  float: left;
}
.listItemTextFooterConfirm{
    text-align: right;
  color: rgba(200, 74, 74, 1);
  font-size: 17px;
  font-weight: 900;
  float: right;
}
.detailPanelHeader{
  font-weight: 900;
  font-family: inherit;
  font-size: 34px;
  color: rgb(226, 15, 15);
}
